<h1><%= @project.name%></h1>

<ul>
	<% @entries.each do |e| %>
	<li>
		<%= e.hours %> h
		<%= e.minutes %> m - 
		<%= e.comments %> - 
		<%= e.date %>
		<input type="button" onclick="location.href='/projects/<%=@project.id%>/time_entries/<%=e.id%>/edit';" value="Edit" />
		<%= link_to("Delete", project_time_entry_path(@project, e), method: :delete, data: {confirm: 'Are you sure?'}) %>
		<%= button_to "EDIT", project_time_entry_edit_path(@project, e), :method => "get" %>
	</li>
	<% end %>
</ul>