<h1>Add a new person:</h1>
<%= form_for @person do |f| %>
	<%= f.label :name %><span>: </span>
	<%= f.text_field :name %>

	<%= f.label :email %><span>: </span>
	<%= f.text_field :email %>

	<br>

	Assign to projects:

	<ul>
	<%@projects.each do |p|%>
		<li>
		<%= check_box_tag("projects[]", p.id) %>
		<%= label_tag("projects", p.name) %>

		</li>
	<%end%>
	</ul>
	<%= f.button %>
<%end%>	