<div id="container" class="container-fluid">
  <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="text-center align-middle">
          <h1>Discussion about:</h1>
          <br>
        </div>
        <div class="film">
          <div class="title">
            <h2><%=@movie.title%> (<%=@movie.year%>)</h2> 
          </div>
          <div class="lead">
            <p><%=@movie.plot%></p>
          </div>
        </div> 
        <%= render "comments/commentsForm" %>
      </div>
      <div class="col-md-4" style="background-color: grey">
        <%= render "comments/comments" %>
      </div>
    </div>
</div>      