<h1>Product details</h1>

<%= render "/statics/flash" %>

<p>
		<b>Title:</b> <%= product.title %><br>
		<b>Description:</b> <%= product.description %><br>
		<b>Deadline:</b> <%= product.deadline %><br>
</p>

<h2>Modify the product:</h2>

<%= render "form" %>
